<!DOCTYPE html>
<html>
    <head>
        <title>Event Comments</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'comment.css' %}" />
    </head>
    <body>  
        <h1>{{ event.caption }}</h1>
        <p>
            {%if event.image%}
            <img src="{{event.image.url}}" height="70%" width="70%" class="img-thumbnail" alt="..." class="cover">
            {%endif%} 
        </p>
        <a href={% url 'event_page'%}>
            <button type="submit" class="back">Back To Event Page</button>
        </a>
        <h2>Comments:</h2>
        <ul>
            {% for comment in comments %}
            <div class="one-line">
                <div class="profilepic"> 
                    <div class="profile_img"> 
                      <div class="image">
                        <img src={{comment.account.profile_image.url}} height="20%" width="40%"/>
                      </div> 
                    </div> 
                  </div> 
                    <h2>{{ comment.account.username }}</h2>
                </div>
                <div class="one-line-distance">
                    <li><h3>{{ comment.text }}</h3></li>
                    {%if comment.account.id == account.id%} 
                        <a href={% url 'delete_eventcomment' comment.id %}>
                            <button type="submit" class="back">Delete comment</button>
                        </a>
                    {%endif%}
                </div>
            {% endfor %}
        </ul>
        
        <form method="post" action="{% url 'eventcomment' event.id account.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit">Submit Comment</button>
        </form> 
    </body>