<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="src/icons/discord.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Event</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'alumn.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,700&family=Space+Grotesk:wght@500&display=swap"
    rel="stylesheet" />
</head>

<body>
        <header class="messages-header">
          <h2>POST</h2>
        </header>
        <section class="messages-section">
          <article class="messages-row">
            <div class="messages-row-options messages-row-options-active">
              <svg>
                <use href="./src/icons/icons.svg#friends" />
              </svg>
              <a href={%url "event" user.id %}>
                <p>Post Event</p>
              </a>
            </div>
          </article>
        </section>
        <div>
    </div>
    <div class="messages-container">
        <a href={% url 'home'%} >
            <button type="submit" class='back'>Back To Home</button>
        </a>
    </div>
    
    <section class="section-container">
        {% for x in all_post %}
          {% if forloop.first %}
              <div class="row ">
          {% endif %}
          <div class="card"> 
            <div class="top"> 
              <div class="userDetails"> 
                <div class="profilepic"> 
                  <div class="profile_img"> 
                    <div class="image">
                      <img src={{x.account.profile_image.url}} height="70%" width="70%">
                    </div> 
                  </div> 
                </div> 
                <h3>{{x.account.username}}
                  <br> 
                  <span>{{x.account.email}}</span> 
              </h3> 
              </div> 
              <div> 
                <span class="dot"> 
                  <i class="fas fa-ellipsis-h"></i> 
                </span> 
              </div> 
            </div> 
            <p class="message"> 
              <h2 class="postTime">{{x.caption}}</h2>
            </p> 
            <div class="imgBx"> 
              {%if x.image%}
                <img src={{x.image.url}} height="30%" width="50%" class="img-thumbnail" alt="..." class="cover">
              {%endif%}
            </div> 
            <div class="bottom"> 
                <h5 class="postTime">{{x.date}}</h5> 
                
              <div class="addComments"> 
                <div class="reaction"> 
                  <h3> 
                  <i class="far fa-smile"></i> 
                  </h3> 
                  </div> 
                <div class="post">
                  <a href={% url 'eventcomment' x.id user.id %} class="a1">Add a comment</a>
                </div>
                <div>
                    {%if x.account.id == user.id%}
                      <a href={% url 'delete_eventpost' x.id%} class="a2">Delete Post</a>
                    {%endif%}
                </div>
              </div> 
            </div> 
          </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class=row>{% endif %}
            {% if forloop.last %}</div>{% endif %}
  
         {% endfor %}
        
      </section>
</body>

</html>
