<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    {% load static %}
    <!-- swiper css link  -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static "Forgot_password.css" %}">
</head>
<body>
    <div id="popup" class="popup">
        <div class="popup-content">
            <a href="loginl"><span class="close">&times;</span></a>
            <h4>Password Reset Confirm Page</h4>
            <form id="info-form" method="POST">
                {% csrf_token %}
                {{ form }}
                <br><button type="submit" class="submit-button" id="submit-button">Submit</button>
              </form>
        </div>
      </div>
</body>
</html>