<!DOCTYPE html>
<html>
    <head>
        <title>Succesfully Update Profile</title>
        {% load static %}
        <!-- swiper css link  -->
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
        <link rel="stylesheet" href="{% static "Forgot_password.css" %}">
    </head>
    <body>
            <div id="popup" class="popup">
                <div class="popup-content">
                    <a href="home"><span class="close">&times;</span></a>
                    <h3>Your Profile Succesfully Updateded</h3>
                </div>
              </div>
    </body>
</html>